body {
  box-sizing: border-box;
  margin: 0;
  font-family: "open sans", serif;
}
.wrapper {
  height: 100vh;
  background: linear-gradient(#7b7b7b, #5ccab5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  background-color: #2c5046;
  height: 85vh;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
}
input {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #fff;
  width: 100%;
  display: block;
  padding-bottom: 4px;
  color: #fff !important;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
  outline: none;
}
button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #000;
  color: #ffff;
  font-weight: 100;
}
button:active {
  outline: none;
}
.info {
  width: 100%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
  margin-top: 10px;
}
.info-key {
  color: #fff;
  border-bottom: solid 2px #ffffff21;
  font-weight: 400;
  text-transform: capitalize;
}
.info-key:last-child {
  border: 0;
}
.info-value {
  font-weight: 200;
}
